@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@custom-variant dark (&:where(.dark, .dark *));


/* Base font */
* {
  @apply font-mono;
}

/* Buttons */
.button {
  @apply btn text-gray-400 bg-gray-100 shadow-sm shadow-gray-400 hover:bg-gray-200 duration-300;
}
.fullWidthButton {
  @apply btn w-full text-gray-400 bg-gray-100 shadow-sm shadow-gray-400 hover:bg-gray-200 duration-300;
}

/* Titles & subtitles */
.title {
  @apply text-3xl lg:text-4xl font-bold mb-3 text-gray-400;
}
.subTitle {
  @apply text-gray-400 mb-5 text-sm lg:text-base;
}

/* Countdown timer box */
.CountdownTimerBox {
  @apply flex flex-col p-2 btn text-gray-400 bg-gray-100 h-fit shadow-sm shadow-gray-400 hover:bg-gray-200 duration-300;
}



/* Dark mode overrides */
.dark .button {
  @apply bg-neutral-900 text-white shadow-black hover:bg-neutral-950;
}
.dark .fullWidthButton {
  @apply bg-neutral-900 text-white shadow-black hover:bg-neutral-950;
}
.dark .title {
  @apply text-gray-400;
}
.dark .subTitle {
  @apply text-gray-400;
}
.dark .CountdownTimerBox {
  @apply bg-neutral-900 text-gray-400 shadow-black hover:bg-neutral-950;
}
.dark body {
  @apply bg-neutral-900 text-gray-500;
}
.dark .card {
  @apply bg-neutral-900 text-gray-400 shadow-black;
}

.dark input,
.dark textarea,
.dark select {
  @apply border border-white bg-neutral-900 text-white placeholder-white focus:ring-white;
}
