@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default;
 }

*{
  @apply font-mono ;
}
.button{
  @apply btn text-gray-400 bg-gray-100 shadow-sm shadow-gray-400 hover:bg-gray-200 duration-300;
}
.fullWidthButton{
    @apply btn w-full text-gray-400 bg-gray-100 shadow-sm shadow-gray-400 hover:bg-gray-200 duration-300;
}

.title{
  @apply text-3xl lg:text-4xl font-bold mb-3 text-gray-400 ;
}
.subTitle{
  @apply text-gray-400 mb-5 text-sm lg:text-base ;
}